


body {
    background: #59C173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}


form, #todolar {
    width: 500px;
}

#todolar {
    margin-top: 5px;
}
form input {
    width: 80%;
    padding: 20px;
    border: none;
    outline: none;
}
form .fa-plus {
    /* font-size: 33px;
    transform: translateY(10px); */
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

.todo {
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #261d1d;
    margin-bottom: 5px;
}
.todo li {
    color: #fff;
}
.butonlar button {
    background: transparent;
    border: none;
}
.butonlar .fa-check-double {
    color: #fff;
}
.butonlar .fa-trash-can {
    color: #fff;
}

.done {
    text-decoration: line-through;
    opacity: .5;
}
.delete {
    display: none;
}
.addbtn {
background-color: transparent;
padding: 15px;
border: none;
}